h1 {
    color: white;
    font-family: monospace, monaco;
}
body {
    background-color: pink;
    margin: auto;
    width: 100%;
    text-align: center;
}
div {
    border-radius: 25px;
    background: #9d5e3d;
    padding: 20px;
    width: 200px;
    height: 150px;
    margin: auto;
    color: white;
    font-family: monospace, monaco;
}
img {
    padding-top: 10px;
    border-radius: 40px;
}


